.display-exercises {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
  width: 80vw;
  text-align: center;

  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 866px) {
  .display-exercises {
    grid-template-columns: repeat(2, 1fr);
  }
}
