footer {
  margin-top: 3rem;
  background-color: var(--clr-primary-light);
  padding: 80px;
  display: grid;
  place-items: center;
  gap: 40px;

  .logo {
    height: 50px;
  }

  .footer-links {
    display: flex;
    gap: 50px;

    a {
      text-decoration: none;
      color: var(--clr-black);
      font-weight: 600;
      letter-spacing: 1px;
      transition: 0.1s all linear;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
