.horizontal-scrollbar{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;

        .icon-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            

            img{
                height: 60px;
                width: 60px;
            }

            h1{
                font-size: 18px;
                width: 100px;
                text-transform: capitalize;
            }
        }
}