        .icon-card{
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            text-align: center;
            width: 500px;
            

            img{
                height: 60px;
                width: 60px;
            }

            h1{
                font-size: 18px;
                width: 100px;
                text-transform: capitalize;
            }
        }
