nav {
  padding: 30px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;

  .logo {
    height: 50px;
    // position: absolute;
  }

  a {
    text-decoration: none;
    color: var(--clr-black);
    font-size: 17px;
    font-weight: 400;

    &:after {
      display: block;
      content: '';
      border-bottom: 2px solid var(--clr-white);
      transition: 0.1s all linear;
    }

    &:hover:after {
      border-color: var(--clr-blue);
    }
  }
}
